includes:
    - 'vendor/phpstan/phpstan-symfony/extension.neon'
    - 'vendor/phpstan/phpstan-doctrine/extension.neon'
    - './phpstan-ignore.neon'

parameters:
    stubFiles:
        - ./.phpstan/stubs/Symfony/Component/DependencyInjection/ServiceLocator.stub
    level: 'max'
    paths:
        - 'src'
        - 'tests'
